@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

$font: 'Montserrat', sans-serif;
$primary: #B8B8D1;
$secondary: #54577C;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;